/* theme option */
/* changed from 60 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.classic {
  /********************************************************** Horizontal menus */

  /* end #main-menu */

  /************************************************** Vertical Menus (Audience) */

  /* end menus */

  /* Middle sidebar adjustments */

  /* end middle sidebar */

  /* Footer */

  /* Admin option */

  /* Live feeds *****************************************************************/

  /* Feed Icons (border radius in particular) */

  /* Calendar */

}
.classic body {
  background-image: url('images/bg-pattern.gif');
}
.classic #header {
  background-color: #fff;
  height: 75px;
}
.classic .container #content {
  margin-top: -6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}
.classic #page-title {
  padding: 17px 20px 5px;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
}
.classic .content {
  padding: 1em .5em 0;
  margin-bottom: 10px;
}
.classic .content > .node > .content {
  padding-top: 0;
  margin-top: 0;
}
.classic #block-system-main > .content {
  padding-left: 20px;
}
.classic #sidebar-first > .region > .block > .content {
  margin-top: 0;
}
.classic #full-top,
.classic #sidebar-first > .region > .block,
.classic #sidebar-second > .region > .block,
.classic #pre-content,
.classic #content,
.classic #main-column1,
.classic #main-column2,
.classic #main-column3,
.classic #events,
.classic #post-content,
.classic #pre-footer {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.classic .front #main-menu {
  margin-bottom: 25px;
}
.classic #main-menu {
  /* end nice menu */

}
.classic #main-menu .content {
  margin: .1em 0 .4em;
  padding-left: 0;
  padding-right: 0;
}
.classic #main-menu .menu,
.classic #main-menu .nice-menu {
  border-radius: 0 0 4px 4px;
  background: #fff;
  margin-top: 0;
}
.classic #main-menu .menu > li > a,
.classic #main-menu .nice-menu > li > a {
  color: #000;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding-top: .3em;
  padding-bottom: .5em;
}
.classic #main-menu .nice-menu > li.menuparent > a {
  padding-right: 20px;
}
.classic #main-menu .nice-menu > li.menuparent > a,
.classic #main-menu .nice-menu > li.menuparent:hover > a,
.classic #main-menu .nice-menu > li.menuparent > a:hover,
.classic #main-menu .nice-menu > li.menuparent > a:active,
.classic #main-menu .nice-menu > li.menuparent > a:focus {
  background: url('../../../images/arrow-down.png') right 8px no-repeat;
}
.classic #main-menu .nice-menu a,
.classic #main-menu .nice-menu a:visited {
  color: #000;
}
.classic #main-menu .nice-menu > li.over > a,
.classic #main-menu .nice-menu > li > a:hover,
.classic #main-menu .nice-menu > li > a:active,
.classic #main-menu .nice-menu > li > a:focus,
.classic #main-menu .menu li a:hover,
.classic #main-menu .menu li a:active,
.classic #main-menu .menu li a:focus {
  color: #000;
  background-color: #eee;
}
.classic #main-menu .nice-menu {
  /* Level 3 */

  /* Level 4 */

}
.classic #main-menu .nice-menu > li > ul {
  /* Level 2 */

  margin-top: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.classic #main-menu .nice-menu > li > ul > li > a:hover,
.classic #main-menu .nice-menu > li > ul > li > a:active,
.classic #main-menu .nice-menu > li > ul > li > a:focus {
  color: #000;
}
.classic #main-menu .nice-menu li li.menuparent > a:hover,
.classic #main-menu .nice-menu li li.menuparent > a:active,
.classic #main-menu .nice-menu li li.menuparent > a:focus {
  background-image: url("../../../images/h-menu-arrow-right.png");
}
.classic #main-menu .nice-menu li li a:hover,
.classic #main-menu .nice-menu li li a:active,
.classic #main-menu .nice-menu li li a:focus {
  background-color: #eee;
}
.classic #main-menu .nice-menu li li.over a {
  background-color: #eee;
}
.classic #main-menu .nice-menu ul ul,
.classic #main-menu .nice-menu li li.over li a {
  background-color: #fff;
}
.classic #main-menu .nice-menu li li.over li a:hover,
.classic #main-menu .nice-menu li li.over li a:active,
.classic #main-menu .nice-menu li li.over li a:focus,
.classic #main-menu .nice-menu li li li.over a {
  background-color: #eee;
}
.classic #main-menu .nice-menu ul ul ul,
.classic #main-menu .nice-menu li li li.over li a {
  background-color: #fff;
}
.classic #main-menu .nice-menu li li li.over li a:hover,
.classic #main-menu .nice-menu li li li.over li a:active,
.classic #main-menu .nice-menu li li li.over li a:focus,
.classic #main-menu .nice-menu li li li li.over a {
  background-color: #eee;
}
.classic #block-menu-secondary-menu > .content {
  padding: 0;
}
.classic #sidebar-first h2 {
  background: #f2f2f2;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(to bottom, #ffffff, #ededed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin-left: -7px;
  padding-left: 14px;
  position: relative;
}
.classic #sidebar-first h2 a {
  color: #373737;
}
.classic #sidebar-first h2:before {
  width: 7px;
  height: 7px;
  position: absolute;
  background: url('images/h2-sidebar-bottom-left.png') no-repeat bottom left transparent;
  left: -1px;
  bottom: -7px;
  display: block;
  content: ' ';
}
.classic #sidebar-first ul.menu li {
  border-top: solid 1px #d2d2d2;
}
.classic #sidebar-first ul.menu li a:hover,
.classic #sidebar-first ul.menu li a:active,
.classic #sidebar-first ul.menu li a:focus {
  background: #ecebea;
  /* Old browsers */

  background-color: #eeeeed;
  background-image: -moz-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecebea), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: -o-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: linear-gradient(to bottom, #ecebea, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecebea', endColorstr='#fff2f2f2', GradientType=0);
  color: #BB4100;
}
.classic #sidebar-first .content > ul.menu > li > a.active {
  background: #c34500;
  margin-left: -14px;
  margin-right: -7px;
  padding-left: 28px;
  color: #fff;
  position: relative;
}
.classic #sidebar-first .content > ul.menu > li > a.active:before {
  width: 7px;
  height: 7px;
  position: absolute;
  background: url('images/current-page-bottom-left.png') no-repeat bottom left transparent;
  left: 0;
  bottom: -7px;
  display: block;
  content: ' ';
}
.classic #sidebar-first .content > ul.menu > li > a.active:hover:before {
  background-image: url('images/h2-sidebar-bottom-left.png');
}
.classic .two-sidebars #page-wrapper > .row > .span9 {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}
.classic .two-sidebars #page-wrapper > .row > .span9 #content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* removes box shadow of first sidebar */

}
.classic #footer {
  border-color: #9c9c9c;
}
.classic #footer .block-menu .content {
  margin-bottom: 0;
  padding: 0;
}
.classic ul.tabs.primary {
  margin-bottom: -7px;
  /* edit options touch the content below */

}
.classic .block-announcement h2 a,
.classic .block-announcement h2 {
  color: #373737;
}
.classic .block-live-feeds div + a {
  margin-left: 20px;
}
.classic .block-live-feeds > .content {
  margin-bottom: 0;
}
.classic .block > h2 {
  color: #373737;
  border-radius: 0;
  border-bottom: 1px solid #d2d2d2;
  background: #ecebea;
  /* Old browsers */

  background-color: #eeeeed;
  background-image: -moz-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecebea), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: -o-linear-gradient(top, #ecebea, #f2f2f2);
  background-image: linear-gradient(to bottom, #ecebea, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecebea', endColorstr='#fff2f2f2', GradientType=0);
}
.classic .row .block-live-feeds .live-feeds-block .calendar-item,
.classic .row .block-live-feeds .live-feeds-block .news-item {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #d2d2d2;
}
.classic .row .block-live-feeds .live-feeds-block .calendar-item:last-of-type,
.classic .row .block-live-feeds .live-feeds-block .news-item:last-of-type {
  border-bottom: none;
}
.classic #main-column1 > div,
.classic #main-column2 > div {
  margin: 0;
}
.classic .live-feeds-block .rss-icon,
.classic .feed-icon {
  border-radius: 0;
}
.classic .live-feeds-block .calendar-item .date.calendar .month {
  background-color: #c34500;
}
.classic .live-feeds-block .calendar-item .date.calendar .day,
.classic .live-feeds-block .calendar-item .date.calendar .year {
  color: #2a2a2a;
}
/* Close .classic parent for theme */
