/* OUS Theme Variant  */

html {
	background-color: #052240 !important;
}

.ous h1 > a {
	color: #F4F2EC;

}


.ous h2 {
	color: #660000;
	font-weight: bold;	
	font-family: 'Gudea',Arial,Verdana,sans-serif;
}

.ous h3 {
	color: #660000;
}

.ous a {
  color: #039;
  text-decoration: none;
  
}

.ous a:visited {
	color: #305CB6;	
}

.ous a:hover {
	color: #0066CC;
}

.ous .breadcrumb,
.ous .breadcrumb a {
	color: #F4F2EC;
	
}
	

.ous body {
	background-color: #052240;
	background-image: url('images/bg_container2.jpg'), url('images/background-pattern.jpg');
	background-repeat: no-repeat, repeat-x;
	background-position: top, left top;	
	
}

.ous #header > h1 {
	visibility:hidden;
}

.ous #header {
	background-image: url('images/OUSlogobw.png');
	background-repeat: no-repeat;
	background-position: bottom left;

}

.ous #footer {

  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0 20px 20px;
  background: #052240;
  min-height: 100px;
  border-top: 4px solid #F4F2EC;
	
}

.ous #main-menu, 
.ous #header {
	
	margin-left: -15px;
}


.ous #page-wrapper > .row {
/*background-image: url('images/background-pattern-white.png');
*/
background-color:#F4F2EC;
border-radius: 4px 4px 0px 0px;
}

.ous #sidebar-first > .region{
padding-right: 30px;

}

.ous .row {
	
	padding-top: 10px;

}
.ous .row #content {
	padding: 0px /*Top*/ 25px /*Right*/ 0px /*Bottom*/ 0px /*Left*/ ;
	
}

.ous #features {
	
	padding-top: 25px;

}

.ous .newsListHeader {
	
	margin-top: 16px !important;
	
}
.ous .newsListHeader + p + .newsListHeader {
	
	margin-top: 15px !important;
	
}

.ous .newsListHeader a {
	color: #006666;
}

.ous a.carousel-control {
	color: #FFFFFF;	
	
}
.ous #sidebar-first #block-block-2.block h2,
.ous #sidebar-second .block h2 {

padding-left:0px;
	
}

.ous #sidebar-first .block h2,
.ous #sidebar-second .block h2 {

line-height:30px;
font-size:16px;
	
}

.ous .block-live-feeds h2 {
  color: #fff;
}

.ous .live-feeds-block .rss-icon {

  background: none repeat scroll 0% 0% rgb(0, 69, 195); 
 
  
}


.ous .live-feeds-block .calendar-item .date.calendar .month {
  background-color: rgb(0, 69, 195);
}

.ous #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title a, 
.ous #block-views-feature-story-block .view-feature-story .views-field-field-caption .fs-title {
  color: #228;
}

/*
.ous #main-column2 .block h2,
.ous #main-column3 .block h2 
*/
.ous .block > h2 {
  background: #373737;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-weight: normal !important;
  margin-bottom: 18px;
  padding: 0 25px 0 10px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Gudea',Arial,Helvetica,Verdana,sans-serif;
}

.ous .views-row {
	margin-bottom: 15px;
}

.ous .press-release-rows {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ous .general-contact {
  display: none;
}

@media (min-width: 980px) and (max-width: 1199px) {
  .ous #osu-top-hat #ous-search-form {
    margin-right: 1.75em;
  }
}

@media (max-width: 979px) {
  .ous body {
    background-image: url('images/background-pattern.jpg');
    background-repeat: repeat-x;
  }

  .ous #osu-top-hat #ous-search-form {
   margin-right: 0; 
  }
}

@media (max-width: 768px) {
 .ous #osu-top-hat {
   background-color: #333 !important;
   background-image: none !important;
 } 
 .ous a.m-icon-link {
  color: #fff !important; 
 }
 
 .ous #footer h2, 
 .ous #footer h3 {
   color: #fff !important;
 }
}
