    <div id='footer'>
      <div class='container'>
        <div class='row'>
          <div class='span2 contact'>
            <h3>Contact Info</h3>
            <div class="specific-contact">
              <!-- removed because we have no idea where $footer_message should be set
                            -->
            </div>
            <div class="general-contact">
              <a href="http://oregonstate.edu/copyright">Copyright</a>
              &copy;2015              Oregon State University<br />
              <a href="http://oregonstate.edu/disclaimer">Disclaimer</a>
            </div>
             <div class="social-media"></div>
          </div>
          <div class='span10'>
              <div class="region region-footer">
    <div id="block-menu-menu-footer-menu" class="block block-menu">

    
  <div class="content">
    <ul class="menu"><li class="first leaf"><a href="/" title="Go to homepage" class="active">Home</a></li>
<li class="expanded"><a href="/about" title="">About</a><ul class="menu"><li class="first leaf"><a href="/about/people" class="submenu">Staff</a></li>
<li class="leaf"><a href="/about/employment">Employment</a></li>
<li class="leaf"><a href="/about/advisors" class="submenu">Advisors</a></li>
<li class="leaf"><a href="/about/logos" class="submenu">Logos</a></li>
<li class="last leaf"><a href="/contact">Contact</a></li>
</ul></li>
<li class="leaf"><a href="/blog" title="Blog">Blog</a></li>
<li class="expanded"><a href="/services" title="">Services</a><ul class="menu"><li class="first leaf"><a href="/services/hosting" class="submenu">Hosting</a></li>
<li class="leaf"><a href="/services/development" class="submenu">Development</a></li>
<li class="leaf"><a href="/services/powerdev">OpenPOWER</a></li>
<li class="last leaf"><a href="/services/supercell" class="submenu">Supercell</a></li>
</ul></li>
<li class="last expanded"><a href="/donate">Donate</a><ul class="menu"><li class="first last leaf"><a href="/sponsors">Sponsors</a></li>
</ul></li>
</ul>  </div>
</div>
<div id="block-block-4" class="block block-block">

    
  <div class="content">
    <p>OSU Open Source Lab<br />
Kerr Admin B211<br />
Corvallis, OR 97331<br />
General Inquiries:<br /><span style="color: #C34500;"><a href="mailto:info@osuosl.org">info@osuosl.org</a></span><br />
Support for Project Infrastructure<br /><span style="color: #C34500;"><a href="mailto:support@osuosl.org">support@osuosl.org</a></span><br />
Questions about Donations:<br /><span style="color: #C34500;"><a href="mailto:donations@osuosl.org">donations@osuosl.org</a></span></p>
  </div>
</div>
  </div>
          </div>
        </div>
      </div>
    </div>

