<div id='page-wrapper' class='container'>
  <!-- Site Name -->
    <div id='header' class='row-fluid'>
        <a class="parent" href='http://eecs.oregonstate.edu'>School of Electrical Engineering and Computer Science</a>
        <h1><a href='/'>OSU Open Source Lab</a></h1>
    </div>
<ul id="mobile-menu" role="navigation">
    <li id="mobile-main-menu">
        <ul class="menu">
            <li class="first leaf"><a href="/" class="active">Home</a></li>
            <li class="expanded"><a href="/about">About Us</a><ul class="menu"><li class="first collapsed"><a href="/about">Summary</a></li>
            <li class="leaf"><a href="/about/people">Staff</a></li>
            <li class="leaf"><a href="/about/employment">Employment</a></li>
            <li class="leaf"><a href="/about/devops-bootcamp">DevOps BootCamp</a></li>
            <li class="leaf"><a href="/about/advisors">Advisors</a></li>
            <li class="leaf"><a href="/contact">Contact</a></li>
            <li class="leaf"><a href="/about/logos">Open Source Lab logos</a></li>
            <li class="last leaf"><a href="/about/goscon">GOSCON</a></li>
        </ul>
    </li>
    <li class="leaf"><a href="/blog">Blog</a></li>
    <li class="expanded"><a href="/services">Services</a>
        <ul class="menu">
            <li class="first collapsed"><a href="/services/hosting">Hosting</a></li>
            <li class="leaf"><a href="/services/development">Development</a></li>
            <li class="collapsed"><a href="/request-hosting">Request Hosting</a></li>
            <li class="collapsed"><a href="/services/powerdev">PowerLinux / OpenPOWER Development Hosting</a></li>
            <li class="last collapsed"><a href="/services/supercell">Supercell</a></li>
        </ul>
    </li>
    <li class="leaf"><a href="/gsoc">GSoC</a></li>
    <li class="last expanded"><a href="/donate">Donate</a>
        <ul class="menu">
            <li class="first leaf"><a href="/sponsors">Sponsors</a></li>
            <li class="last leaf"><a href="/donate/why-do-we-give-osuosl">Why Do We Give to the OSL?</a></li>
        </ul>
    </li>
</ul>
</li>
<li id="mobile-osu-top-hat">
    <ul class="menu">
        <li class="first leaf"><a href="http://calendar.oregonstate.edu">Calendar</a></li>
        <li class="leaf"><a href="http://osulibrary.oregonstate.edu">Library</a></li>
        <li class="leaf"><a href="http://oregonstate.edu/campusmap">Maps</a></li>
        <li class="leaf"><a href="http://oregonstate.edu/main/online-services">Online Services</a></li>
        <li class="last leaf"><a href="https://securelb.imodules.com/s/359/campaign/index.aspx?sid=359&amp;gid=34&amp;pgid=1982&amp;cid=3007" class="campaign">Make a Gift</a></li>
    </ul>
</li>
</ul>   
<!-- Main menu navbar -->
<div id='main-menu' role="navigation">
    <div class="region region-nav">
        <div id="block-nice-menus-1" class="block block-nice-menus">
            <div class="content">
                <ul class="nice-menu nice-menu-down nice-menu-main-menu" id="nice-menu-1">
                    <li class="menu-217 menu-path-front first odd "><a href="/" class="active">Home</a></li>
                    <li class="menu-452 menuparent  menu-path-node-17  even "><a href="/about">About Us</a>
                        <ul>
                            <li class="menu-1851 menuparent  menu-path-node-17 first odd "><a href="/about">Summary</a>
                                <ul>
                                    <li class="menu-1781 menu-path-node-124 first odd "><a href="/students">Student Experience</a></li>
                                    <li class="menu-1846 menu-path-node-559  even last"><a href="/donate/faq">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="menu-730 menu-path-about-people  even "><a href="/about/people">Staff</a></li>
                            <li class="menu-2066 menu-path-about-employment  odd "><a href="/about/employment">Employment</a></li>
                            <li class="menu-1816 menu-path-node-1016  even "><a href="/about/devops-bootcamp">DevOps BootCamp</a></li>
                            <li class="menu-1826 menu-path-node-106  odd "><a href="/about/advisors">Advisors</a></li>
                            <li class="menu-453 menu-path-node-16  even "><a href="/contact">Contact</a></li>
                            <li class="menu-1786 menu-path-node-28  odd "><a href="/about/logos">Open Source Lab logos</a></li>
                            <li class="menu-2071 menu-path-node-571  even last"><a href="/about/goscon">GOSCON</a></li>
                        </ul>
                    </li>
                    <li class="menu-344 menu-path-blog  odd "><a href="/blog">Blog</a></li>
                    <li class="menu-1796 menuparent  menu-path-node-103  even "><a href="/services">Services</a>
                        <ul>
                            <li class="menu-1791 menuparent  menu-path-node-115 first odd "><a href="/services/hosting">Hosting</a>
                                <ul>
                                    <li class="menu-1006 menu-path-communities first odd "><a href="/communities">Hosted Projects</a></li>
                                    <li class="menu-1018 menu-path-node-541  even "><a href="/services/hosting/details">Hosting Details</a></li>
                                    <li class="menu-1021 menu-path-node-544  odd last"><a href="/services/hosting/policy">Hosting Policy</a></li>
                                </ul>
                            </li>
                            <li class="menu-676 menu-path-node-118  even "><a href="/services/development">Development</a></li>
                            <li class="menu-937 menu-path-node-535  odd "><a href="/request-hosting">Request Hosting</a></li>
                            <li class="menu-2366 menuparent  menu-path-node-1091  even "><a href="/services/powerdev">PowerLinux / OpenPOWER Development Hosting</a>
                                <ul>
                                    <li class="menu-2371 menu-path-node-1086 first odd last"><a href="/services/powerdev/request_hosting">PowerLinux / OpenPOWER Request Form</a></li>
                                </ul>
                            </li>
                            <li class="menu-829 menuparent  menu-path-node-517  odd last"><a href="/services/supercell">Supercell</a>
                                <ul>
                                    <li class="menu-925 menu-path-node-526 first odd "><a href="/services/supercell/request">Feedback Form</a></li>
                                    <li class="menu-1027 menu-path-node-577  even last"><a href="/services/supercell/sponsors" title="">Sponsors</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-1836 menu-path-node-726  odd "><a href="/gsoc">GSoC</a></li>
                    <li class="menu-1039 menuparent  menu-path-node-22  even last"><a href="/donate">Donate</a>
                        <ul>
                            <li class="menu-1821 menu-path-node-538 first odd "><a href="/sponsors">Sponsors</a></li>
                            <li class="menu-1841 menu-path-node-133  even last"><a href="/donate/why-do-we-give-osuosl">Why Do We Give to the OSL?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 
<!-- /#main-menu -->

