<div id='sidebar-first' class='span3'>
    <div class="region region-sidebar-first">
        <div id="block-block-81" class="block block-block">
            <div class="content">
                <p><a href="https://osuosl.org"><img src="theme/img/osllogo-web_0.png" style="padding:-5px" /></a></p>
            </div>
        </div>
        <div id="block-block-61" class="block block-block">
            <div class="content">
                <h5 style="font-size: 18px; text-align: center; padding:0px; margin: 0px;"><a href="/contact" class="side-link">Contact</a></h5>
                <h5 style="font-size: 18px; text-align: center; padding; 0px; margin: 0px;"><a href="http://eecs.oregonstate.edu/" class="side-link">EECS</a></h5>
                <h5 style="font-size: 18px; text-align: center; padding: 0px; margin: 0px;"><a href="/donate" class="side-link">Donate</a></h5>
                <p><br /><br /></p>
                <div>
                    <p><a href="http://cass.oregonstate.edu/" target="_blank"><img alt="Open Source Lab logo" src="http://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/images/cass.png" style="width:265px" /></a></p>
                    <p><a href="http://bsg.oregonstate.edu/home" target="_blank"><img alt="Business Solutions Group logo" src="http://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/images/bsgintiallogo.png" style="width:265px" /></a></p>
                </div>
            </div>
        </div>
        <div id="block-block-1" class="block block-block">
            <div class="content">
                <div style="margin: 0 auto; display: block;">
                    <a href="http://twitter.com/osuosl"><img alt="Follow us on Twitter" src="theme/img/social-media/twitter-32.png" style="background:#00B0ED; padding:5px" /></a> 
                    <a href="http://facebook.com/osuosl"><img alt="Like us on Facebook" src="theme/img/social-media/facebook-32.png" style="background:#3B5998; padding:5px" /></a> 
                    <a href="https://github.com/osuosl"><img alt="Fork us on Github" src="theme/img/social-media/github-32.png" style="background:#000; padding:5px" /></a> 
                    <a href="http://youtube.com/osuopensourcelab"><img alt="Youtube Icon" src="theme/img/social-media/youtube_0.png" style="background:#CD201F; padding:5px" /></a> 
                    <a href="https://plus.google.com/107361178205293595706?rel=author"><img alt="Gplus Icon" src="theme/img/social-media/google-32.png" style="background:#DD4B39; padding:5px" /></a>
                </div>
            </div>
        </div>
        <div id="block-views-newletter-sign-up-form-block" class="block block-views">
            <h2>Newsletter Sign Up</h2>
            <div class="content">
            <div class="view view-newletter-sign-up-form view-id-newletter_sign_up_form view-display-id-block view-dom-id-91a45f51554ee829dc6a37772f7a9f8d">
            <div class="view-content">
                <div class="item-list">    
                    <ul>          
                        <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
<div>        <span><form class="webform-client-form" enctype="multipart/form-data" action="/" method="post" id="webform-client-form-529" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-email" id="webform-component-email">
<label for="edit-submitted-email">E-mail Address <span class="form-required" title="This field is required.">*</span></label>
<input class="email form-text form-email required" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />
</div>
<input type="hidden" name="details[sid]" />
<input type="hidden" name="details[page_num]" value="1" />
<input type="hidden" name="details[page_count]" value="1" />
<input type="hidden" name="details[finished]" value="0" />
<input type="hidden" name="form_build_id" value="form-zMzPfoof3RmbIgpNHMmISMyXUq3spVI7SUYzkdtkoYk" />
<input type="hidden" name="form_id" value="webform_client_form_529" />
<input class="mollom-content-id" type="hidden" name="mollom[contentId]" value="" />
<input class="mollom-captcha-id" type="hidden" name="mollom[captchaId]" value="" />
<div style="display: none;"><div class="form-item form-type-textfield form-item-mollom-homepage">
<input autocomplete="off" type="text" id="edit-mollom-homepage" name="mollom[homepage]" value="" size="60" maxlength="128" class="form-text" />
</div>
</div><div class="description mollom-privacy">By submitting this form, you accept the <a href="https://mollom.com/web-service-privacy-policy" class="mollom-target" rel="nofollow">Mollom privacy policy</a>.</div><div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit" /></div></div></form></span>  </div></li>
</ul></div>    </div>

</div>  
</div>
</div>
</div>
</div>

</div> 
