<div id='osu-top-hat'>
    <div class='container'>
        <a href='http://oregonstate.edu' class='tag'><img src='theme/img/osu-top-hat/osu-tag.png' class='logo' alt='Oregon State University'>
        <span class='mobile-header'>OREGON STATE UNIVERSITY</span></a>
        <form class="search" role="search" action="/" method="post" id="osu-search-top-hat-form" accept-charset="UTF-8">
            <div>
            <div class="form-item form-type-textfield form-item-term">
                <label class="element-invisible" for="edit-term">Search Field </label>
                 <input class="search-terms form-text" placeholder="Search this site" type="text" id="edit-term" name="term" value="" size="60" maxlength="128" />
            </div>
            <input class="icon-search word-hide form-submit" type="submit" id="edit-submit--2" name="op" value="Search" />
            <input type="hidden" name="form_build_id" value="form-zWNbr4wV_Sl0zIExiWYnQAfXZwobkvmWqF4DzHJI7cw" />
            <input type="hidden" name="form_id" value="osu_search_top_hat_form" />
            </div>
        </form>
    </div>
</div>
<div id="mobile-icon-menu">
  <a href='#' id="toggle-mobile-menu" class="m-icon-link"><i class="icon-reorder"></i></a>
  <a href='/search/osu' id="mobile-search-link" class="m-icon-link"><i class="icon-search"></i></a>
</div>

