<!DOCTYPE HTML>
<html class="doug_fir" lang="en">
<head>
    {% include 'includes/head.html' %}
</head>
<body class="html front not-logged-in one-sidebar sidebar-first page-node " >
{% include 'includes/top-hat.html' %}
<!--  I'm not sure what this is here for
    <div id="skip-link">
    <a href="#content" class="element-invisible element-focusable">Skip to main content</a>
    </div>-->
    {% include 'includes/menu.html' %}
<div class='row'>
    <div class='row span9'>
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'includes/sidebar.html'%}
</div>
    {% include 'includes/footer.html'%}
</body>
</html>
    
