{% extends 'base.html' %}

{% block content %}
    
<h2>Oregon State University Open Source Lab</h2>

<p>The Open Source Lab is an organization working for the advancement of open source technologies.

The lab provides hosting for more than 160 projects, including those of worldwide leaders like the <a href='http://osuosl.org/communities/apache-software-foundation'>Apache Software Foundation</a>, the <a href='http://osuosl.org/communities/linux-foundation'>Linux Foundation</a> and <a href='http://osuosl.org/communities/drupal'>Drupal</a>. Together, the OSL’s hosted sites deliver nearly 430 terabytes of information every month to people around the world.

Under the <a href='http://eecs.oregonstate.edu/'>School of Electrical Engineering and Computer Science</a>, the OSL and the <a href='http://bsg.oregonstate.edu/home'>Oregon State Business Solutions Group</a> have joined together to create the <a href='http://cass.oregonstate.edu/'>Center for Applied Systems and Software</a> (CASS).</p>
{% endblock %}
