/**
 * @file main-responsive.css
 *
 * OSU Standard Responsive Stylesheet
 *
 * Central Web Services
 * Oregon State University
 *
 */
/* changed from 60 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* though not specifically in a media query, this helps to make all images in
the page scale while keeping the same ratio. This could used to be in bootstrap
but was removed in version 2.0.4 */
img {
  height: auto;
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
  #osu-top-hat .logo,
  #main-menu {
    display: none;
  }
  #osu-top-hat .logo .menu,
  #main-menu .menu,
  #osu-top-hat .logo .nice-menu,
  #main-menu .nice-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  #content {
    padding-right: 0;
  }
  #alt-menu {
    margin: 6px 10px 10px !important;
  }
  #mobile-menu {
    position: absolute;
    z-index: 999;
    top: 40px;
  }
  #osu-top-hat {
    background-color: #bb4200;
    background-image: -moz-linear-gradient(top, #c34500, #ae3d00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c34500), to(#ae3d00));
    background-image: -webkit-linear-gradient(top, #c34500, #ae3d00);
    background-image: -o-linear-gradient(top, #c34500, #ae3d00);
    background-image: linear-gradient(to bottom, #c34500, #ae3d00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc34500', endColorstr='#ffae3d00', GradientType=0);
    height: auto;
    border-bottom: none;
    text-align: left;
  }
  #osu-top-hat .container {
    padding: 10px 0 0 10px;
  }
  #osu-top-hat a.tag {
    margin-left: 0;
    float: none;
  }
  #osu-top-hat ul.menu {
    display: block;
    margin-top: 5px;
  }
  #osu-top-hat ul.menu li {
    padding-bottom: .4em;
  }
  #osu-top-hat ul.menu li.first {
    padding-left: 0;
  }
  #osu-top-hat ul.menu li a {
    padding: 5px 1px;
  }
  #osu-top-hat ul.menu li:hover,
  #osu-top-hat ul.menu li:active,
  #osu-top-hat ul.menu li:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  /* Live feeds tweaks */
  .block-live-feeds h2,
  .block-live-feeds .rss-icon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .mobile-header {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .classic #header {
    height: auto;
  }
  #header h1 {
    padding: 4px 8px 2px 10px;
    font-size: 24px;
    line-height: 24px;
  }
  #alt-tag {
    display: inline !important;
    font-size: 140%;
    font-weight: bold;
  }
  #footer .block-menu {
    float: none;
  }
  #footer .content > .menu > li {
    display: block;
    float: none;
    max-width: 90%;
    width: 95%;
  }
  /* left 10px padding needed for most elements */
  .parent {
    padding-left: 10px;
  }
  /* Feature Story Responsive Edits */
  #features {
    padding-top: 6px;
    background-color: #fff;
  }
  #features + .row #content {
    padding-top: 10px;
  }
  #block-views-feature-story-block .view-feature-story .more-link {
    bottom: -15px;
    right: 4px;
    border: none;
    box-shadow: none;
    background: #f4f2ec;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
  }
  #page-title,
  .classic #page-title,
  .marine #page-title {
    padding: 5px 8px 5px;
    font-size: 16px;
    line-height: 24px;
  }
  .content,
  .classic .content,
  .classic #block-system-main > .content {
    padding: .4em;
  }
  /* VSO Header */
  #osu-top-hat p.vso-standard-header {
    margin: 0;
  }
  #osu-top-hat p.vso-standard-header a {
    font-size: 16px;
    text-transform: uppercase;
  }
}
@media (max-width: 540px) {
  /* Feature Story Edits */
  #block-views-feature-story-block .view-feature-story .views-field-field-caption {
    position: static;
    background: #f4f2ec;
  }
}
@media (min-width: 481px) and (max-width: 540px) {
  #osu-top-hat .menu .first + .leaf {
    display: none;
  }
}
/* Here goes stuff we want for small tablets, but NOT for phones */
@media (min-width: 481px) and (max-width: 767px) {
  #osu-top-hat ul.menu {
    margin-left: -24px;
    margin-top: 34px !important;
  }
  #osu-top-hat ul.menu li.leaf {
    padding: 0 .3em;
  }
  #header {
    margin-bottom: 10px;
  }
  #audience-menu {
    text-align: right;
    margin-left: 200px;
  }
  #audience-menu ul.menu li a {
    text-align: right;
  }
  .classic #header {
    height: auto;
  }
  #header h1 {
    padding-top: .1em;
    /* padding-left: 135px; */
  
  }
}
@media (max-width: 767px) {
  #admin-menu,
  #main-menu {
    display: none;
  }
  html body.admin-menu {
    margin-top: 0 !important;
    /*remove top margin along with menu*/
  
  }
  a.m-icon-link {
    padding: 11px 13px 9px;
    color: #fff;
    text-decoration: none;
  }
  a.m-icon-link:hover,
  a.m-icon-link:active,
  a.m-icon-link:focus {
    background-color: #373737;
  }
  #osu-top-hat {
    height: 40px;
  }
  #osu-top-hat .search-terms,
  #osu-top-hat .search-terms:focus {
    width: 160px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  #osu-top-hat .form-type-checkbox {
    float: right;
    margin: 0 -80px 0 0;
  }
  #osu-top-hat ul.menu {
    display: none;
  }
  #osu-top-hat ul.menu li a.campaign {
    background-image: none;
    padding-left: .2em;
  }
  #osu-top-hat .utility,
  #osu-top-hat form.search {
    display: none;
  }
  p.vso-standard-header {
    margin: 8px 0;
  }
  #mobile-icon-menu {
    color: #fff;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 10px;
    right: 4%;
    background: transparent;
    z-index: 300;
  }
  #mobile-icon-menu .icon-search {
    font-size: 18px;
  }
  #mobile-menu {
    margin-left: 0;
    background: #373737;
  }
  #mobile-menu li {
    list-style: none !important;
    margin: 0;
    padding: 0;
  }
  #mobile-menu ul {
    margin-left: 0;
  }
  #mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding-left: 10px;
  }
  #mobile-menu ul li a + ul {
    display: none;
  }
  #mobile-menu ul li a.active {
    font-weight: bold;
  }
  #mobile-menu ul li a.active + ul {
    display: block;
  }
  #mobile-menu #mobile-main-menu > ul > li + li {
    border-top: 1px solid #474747;
  }
  #mobile-menu #mobile-main-menu .active + .menu {
    background-color: #303030;
    background-image: -moz-linear-gradient(top, #373737, #252525);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#252525));
    background-image: -webkit-linear-gradient(top, #373737, #252525);
    background-image: -o-linear-gradient(top, #373737, #252525);
    background-image: linear-gradient(to bottom, #373737, #252525);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff252525', GradientType=0);
  }
  #mobile-menu #mobile-audience-menu {
    background: #525252;
  }
  #mobile-menu #mobile-audience-menu > ul > li + li {
    border-top: 1px solid #454545;
  }
  #mobile-menu #mobile-audience-menu .active + .menu {
    background-color: #474747;
    background-image: -moz-linear-gradient(top, #525252, #373737);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#525252), to(#373737));
    background-image: -webkit-linear-gradient(top, #525252, #373737);
    background-image: -o-linear-gradient(top, #525252, #373737);
    background-image: linear-gradient(to bottom, #525252, #373737);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff525252', endColorstr='#ff373737', GradientType=0);
  }
  #mobile-menu #mobile-osu-top-hat {
    padding-top: 10px;
    background: #1b1b1b;
  }
  #mobile-menu #mobile-osu-top-hat li {
    display: inline-block;
    width: 18.2%;
    padding: 0;
    text-align: center;
    vertical-align: top;
  }
  #mobile-menu #mobile-osu-top-hat li a {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    line-height: 12px;
  }
  #mobile-menu #mobile-osu-top-hat li i {
    font-size: 40px;
    line-height: 35px;
    color: #acacac;
    margin-bottom: 4px;
  }
  #mobile-menu #mobile-osu-top-hat li:last-child i {
    color: #d85a1a;
  }
  #main-menu,
  #alt-tag,
  .tag + .menu {
    display: none;
  }
  #alt-menu {
    display: block;
    margin: 6px 0 10px;
  }
  #alt-menu a {
    color: #252525;
    text-decoration: none;
  }
  #alt-menu i {
    margin-right: 10px;
  }
  #alt-menu #toggle-main-menu {
    display: block;
    background: #f4f2ec;
    padding-left: 6px;
  }
  #alt-menu #toggle-main-menu:active,
  #alt-menu #toggle-main-menu:hover,
  #alt-menu #toggle-main-menu:focus {
    color: #f4f2ec;
    background: #373737;
  }
  #main-menu .menu li,
  #main-menu .nice-menu > li {
    float: none;
  }
  #main-menu .menu li a,
  #main-menu .nice-menu > li > a {
    display: block;
    border-bottom: 1px dotted #666;
  }
  #main-menu .menu li:last-child a,
  #main-menu .nice-menu > li:last-child > a {
    border-bottom: none;
  }
  #main-menu .nice-menu > li > a:hover ul,
  #main-menu .nice-menu > li:hover ul,
  #main-menu .nice-menu li:hover ul,
  #main-menu .nice-menu li ul {
    display: none !important;
  }
  #main-menu .nice-menu > li.menuparent > a,
  .classic #main-menu .nice-menu > li.menuparent > a {
    background-image: none;
  }
  #main-column1 > div,
  #main-column2 > div {
    margin: 0;
  }
  #footer {
    background: #e5e2dd;
    color: #252525;
    padding: 12px;
  }
  #footer h2,
  #footer h3 {
    color: #252525;
  }
  #footer a {
    color: #252525;
  }
  #footer a:hover,
  #footer a:active,
  #footer a:focus {
    color: #fff;
  }
  #footer .content > .menu {
    background: #575757;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #footer .content > .menu > li {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    padding-top: 0;
    padding-left: 10px;
  }
  #footer .content > .menu > li > a {
    background: #373737;
    line-height: 28px;
    padding-left: 10px;
  }
  #footer .content > .menu > li.expanded {
    margin-bottom: 12px;
  }
  #footer .content .menu li {
    padding: 0;
    margin: 0;
  }
  #footer .content .menu a {
    color: #fff;
    padding-left: 10px;
    line-height: 22px;
  }
  /* CLASSIC variant only edits */
  .classic #main-menu .nice-menu > li.menuparent:hover > a,
  .classic #main-menu .nice-menu > li.menuparent > a:hover,
  .classic #main-menu .nice-menu > li.menuparent > a:active,
  .classic #main-menu .nice-menu > li.menuparent > a:focus {
    background-image: none;
    background-color: #eee;
  }
  /* Science variant edits */
  .science #main-menu .nice-menu > li + li,
  .science #main-menu .menu li + li {
    border-left: none;
  }
}
@media (min-width: 768px) {
  #main-menu {
    display: block !important;
  }
  #mobile-menu {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #admin-menu-wrapper > .dropdown:last-child {
    display: none;
  }
  #osu-top-hat .utility {
    display: none;
  }
  #alt-menu,
  #alt-tag {
    display: none;
  }
  #osu-top-hat ul.menu {
    margin: 0.8em 0 0 -2em;
  }
  #osu-top-hat ul.menu li.leaf {
    padding: 0 .2em;
  }
  ul.quicktabs-tabs li {
    display: block;
  }
  ul.quicktabs-tabs li a {
    display: block;
    filter: none;
    /* removes filter from ie9 */
  
  }
  ul.quicktabs-tabs.quicktabs-style-basic {
    height: auto;
  }
}
@media (max-width: 979px) {
  body:before {
    display: none;
  }
  /* Feature Story Rotating Edits here */
  #features .content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .view-feature-story.view-display-id-block .fs-row .views-field-field-caption {
    min-height: 160px;
    height: auto;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .view-feature-story.view-display-id-block .fs-row .views-field-field-caption .fs-title {
    margin-right: 0;
  }
  .view-feature-story.view-display-id-block .fs-row:hover .views-field-field-caption {
    height: auto;
  }
  #block-views-feature-story-block .view-feature-story .views-field-field-caption {
    position: static;
    padding-bottom: 25px;
    /* to make room for all stories link */
  
  }
  .view-feature-story .side-controls {
    top: 20%;
  }
}
@media (min-width: 980px) {
  #alt-menu,
  #alt-tag {
    display: none;
  }
}
@media (min-width: 1200px) {
  #osu-top-hat .wrapper4 {
    width: 1200px;
  }
  #alt-menu,
  #alt-tag {
    display: none;
  }
}
