#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active {
    outline: 0 none;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
}
#cboxOverlay {
    background: none repeat scroll 0 0 #000;
}
#colorbox {
    outline: 0 none;
}
#cboxWrapper {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
}
#cboxTopLeft {
    height: 15px;
    width: 15px;
}
#cboxTopCenter {
    height: 15px;
}
#cboxTopRight {
    height: 15px;
    width: 15px;
}
#cboxBottomLeft {
    height: 10px;
    width: 15px;
}
#cboxBottomCenter {
    height: 10px;
}
#cboxBottomRight {
    height: 10px;
    width: 15px;
}
#cboxMiddleLeft {
    width: 15px;
}
#cboxMiddleRight {
    width: 15px;
}
#cboxContent {
    background: none repeat scroll 0 0 #fff;
    overflow: hidden;
}
#cboxError {
    border: 1px solid #ccc;
    padding: 50px;
}
#cboxLoadedContent {
    margin-bottom: 28px;
}
#cboxTitle {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    bottom: 28px;
    box-sizing: border-box;
    color: #535353;
    left: 0;
    padding: 4px 6px;
    position: absolute;
    width: 100%;
}
#cboxCurrent {
    bottom: 4px;
    color: #949494;
    left: 60px;
    position: absolute;
}
.cboxSlideshow_on #cboxSlideshow {
    background: url("/theme/img/controls.png") no-repeat scroll -75px -50px rgba(0, 0, 0, 0);
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 30px;
    text-indent: -9999px;
    width: 25px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -101px -50px;
}
.cboxSlideshow_off #cboxSlideshow {
    background: url("/theme/img/controls.png") no-repeat scroll -25px -50px rgba(0, 0, 0, 0);
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 30px;
    text-indent: -9999px;
    width: 25px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -49px -50px;
}
#cboxPrevious {
    background: url("/theme/img/controls.png") no-repeat scroll -75px 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 25px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}
#cboxPrevious:hover {
    background-position: -75px -25px;
}
#cboxNext {
    background: url("/theme/img/controls.png") no-repeat scroll -50px 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 25px;
    left: 27px;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}
#cboxNext:hover {
    background-position: -50px -25px;
}
#cboxLoadingOverlay {
    background: none repeat scroll 0 0 #fff;
}
#cboxLoadingGraphic {
    background: url("/theme/img/loading_animation.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#cboxClose {
    background: url("/theme/img/controls.png") no-repeat scroll -25px 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 25px;
}
#cboxClose:hover {
    background-position: -25px -25px;
}
.ctools-locked {
    border: 1px solid red;
    color: red;
    padding: 1em;
}
.ctools-owns-lock {
    background: none repeat scroll 0 0 #ffffdd;
    border: 1px solid #f0c020;
    padding: 1em;
}
a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
    background: url("/profiles/acquia/modules/ctools/images/status-active.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 18px !important;
}
div.ctools-ajaxing {
    background: url("/profiles/acquia/modules/ctools/images/status-active.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    width: 18px;
}
.block-nice-menus {
    line-height: normal;
    z-index: 10;
}
ul.nice-menu, ul.nice-menu ul {
    position: relative;
    z-index: 5;
}
ul.nice-menu li {
    position: relative;
}
ul.nice-menu a {
    color: #027ac6;
    display: block;
}
ul.nice-menu ul, #header-region ul.nice-menu ul {
    position: absolute;
    visibility: hidden;
}
ul.nice-menu li.over ul {
    visibility: visible;
}
ul.nice-menu ul li {
    display: block;
}
ul.nice-menu::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul.nice-menu li:hover ul, ul.nice-menu li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul, ul.nice-menu li.over ul, ul.nice-menu li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul, #header-region ul.nice-menu li:hover ul, #header-region ul.nice-menu li.menuparent li:hover ul, #header-region ul.nice-menu li.menuparent li.menuparent li:hover ul, #header-region ul.nice-menu li.over ul, #header-region ul.nice-menu li.menuparent li.over ul, #header-region ul.nice-menu li.menuparent li.menuparent li.over ul {
    visibility: visible;
}
ul.nice-menu li:hover ul ul, ul.nice-menu li:hover ul ul ul, ul.nice-menu li:hover li:hover ul ul, ul.nice-menu li:hover li:hover ul ul ul, ul.nice-menu li:hover li:hover li:hover ul ul, ul.nice-menu li:hover li:hover li:hover ul ul ul, ul.nice-menu li.over ul ul, ul.nice-menu li.over ul ul ul, ul.nice-menu li.over li.over ul ul, ul.nice-menu li.over li.over ul ul ul, ul.nice-menu li.over li.over li.over ul ul, ul.nice-menu li.over li.over li.over ul ul ul, #header-region ul.nice-menu li:hover ul ul, #header-region ul.nice-menu li:hover ul ul ul, #header-region ul.nice-menu li:hover li:hover ul ul, #header-region ul.nice-menu li:hover li:hover ul ul ul, #header-region ul.nice-menu li:hover li:hover li:hover ul ul, #header-region ul.nice-menu li:hover li:hover li:hover ul ul ul, #header-region ul.nice-menu li.over ul ul, #header-region ul.nice-menu li.over ul ul ul, #header-region ul.nice-menu li.over li.over ul ul, #header-region ul.nice-menu li.over li.over ul ul ul, #header-region ul.nice-menu li.over li.over li.over ul ul, #header-region ul.nice-menu li.over li.over li.over ul ul ul {
    visibility: hidden;
}
ul.nice-menu li.menuparent ul, #header-region ul.nice-menu li.menuparent ul {
    overflow: visible !important;
}
ul.nice-menu li.menuparent ul iframe, #header-region ul.nice-menu li.menuparent ul iframe {
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: -1;
}
ul.nice-menu, ul.nice-menu ul {
    border-top: 1px solid #ccc;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.nice-menu li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eee;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-right: 1px solid #ccc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
}
ul.nice-menu a {
    padding: 0.3em 5px;
}
ul.nice-menu ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    left: -1px;
    margin-right: 0;
    top: 1.8em;
}
ul.nice-menu ul li {
    width: 12.5em;
}
ul.nice-menu-right, ul.nice-menu-left, ul.nice-menu-right li, ul.nice-menu-left li {
    width: 12.5em;
}
ul.nice-menu-right ul {
    left: 12.5em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-right ul ul {
    left: 12.5em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-right li.menuparent, ul.nice-menu-right li li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #eee;
}
ul.nice-menu-right li.menuparent:hover, ul.nice-menu-right li li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #ccc;
}
ul.nice-menu-left li ul {
    left: -12.65em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-left li ul li ul {
    left: -12.65em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-left.png") no-repeat scroll left center #eee;
}
ul.nice-menu-left li.menuparent:hover, ul.nice-menu-left li li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-left.png") no-repeat scroll left center #ccc;
}
ul.nice-menu-left a, ul.nice-menu-left ul a {
    padding-left: 14px;
}
ul.nice-menu-down {
    border: 0 none;
    float: left;
}
ul.nice-menu-down li {
    border-top: 1px solid #ccc;
}
ul.nice-menu-down li li {
    border-top: 0 none;
}
ul.nice-menu-down ul {
    left: 0;
}
ul.nice-menu-down ul li {
    clear: both;
}
ul.nice-menu-down li ul li ul {
    left: 12.5em;
    top: -1px;
}
ul.nice-menu-down .menuparent a {
    padding-right: 15px;
}
ul.nice-menu-down li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center #eee;
}
ul.nice-menu-down li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center #ccc;
}
ul.nice-menu-down li li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #eee;
}
ul.nice-menu-down li li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #ccc;
}
ul.nice-menu li {
    background-image: none;
    margin: 0;
    padding-left: 0;
}
#header-region ul.nice-menu li {
    background: none repeat scroll 0 0 #eee;
    margin: 0;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}
#header-region ul.nice-menu ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    left: -1px;
    margin-right: 0;
    top: 1.8em;
}
#header-region ul.nice-menu ul {
    top: 1.7em;
}
#header-region ul.nice-menu-down li ul li ul {
    left: 12.5em;
    top: -1px;
}
#header-region ul.nice-menu-down li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center #eee;
}
#header-region ul.nice-menu-down li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center #ccc;
}
#header-region ul.nice-menu-down li li.menuparent {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #eee;
}
#header-region ul.nice-menu-down li li.menuparent:hover {
    background: url("/sites/all/modules/nice_menus/images/arrow-right.png") no-repeat scroll right center #ccc;
}
.views_slideshow_cycle_no_display, .views_slideshow_cycle_hidden, .views_slideshow_cycle_controls, .views_slideshow_cycle_image_count {
    display: none;
}
.views_slideshow_cycle_pager div a img {
    height: 75px;
    width: 75px;
}
.views_slideshow_pager_numbered div, .views_slideshow_pager_thumbnails div {
    display: inline;
    padding-left: 10px;
}
.views_slideshow_cycle_pager.thumbnails a.activeSlide img {
    border: 3px solid #000;
}
.views_slideshow_cycle_pager.numbered a.activeSlide {
    text-decoration: underline;
}
input.webform-calendar {
    display: none;
    padding: 3px;
    vertical-align: top;
}
html.js input.webform-calendar {
    display: inline;
}
.webform-container-inline label {
    display: inline;
    margin-right: 1em;
}
.webform-container-inline div, .webform-container-inline div.form-item {
    display: inline;
}
.webform-container-inline div.description {
    display: block;
}
.webform-container-inline div.messages {
    display: block;
    float: left;
}
.webform-container-inline div.ajax-progress-bar div {
    display: inherit;
}
